@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-action-msg-wrap {
  padding:8px 12px;
  margin-bottom: 16px;
  @include text-center;

  .chat-txt-msg {
    font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      margin:0;
      letter-spacing:-.1px;
      line-height:20px;
      color: rgb(109, 105, 105);
  }
}